/* Pretty print */

/* line 600, ../scss/default.scss */
.prettyprint .com {
  /* a comment */
  color: green;
  font-style: italic;
}

/* line 604, ../scss/default.scss */
.prettyprint .lit {
  /* a literal value */
  color: black;
}

/* line 609, ../scss/default.scss */
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: red;
}

/* line 618, ../scss/default.scss */
.prettyprint .pln {
  color: blue;
}
pre {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 20px;
  color: black;
  line-height: 28px;

  letter-spacing: -1px;
  margin-bottom: 20px;
 
  width: 100%; /* 106%; */
  left: 0; /* -60px; */
  padding: 10px 15px 10px 15px; /* 10px 0 10px 60px; */
  
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

slides > slide {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

body {
  font-family: Roboto Condensed;
  font-weight: normal;
  color: #000000;
}

.remark-slide-content {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 1em 4em 1em 4em;
}
.remark-slide-content h1 {
    font-size: 55px;
}
.remark-slide-content h2 {
    font-size: 45px;
}
.remark-slide-content h3 {
    font-size: 35px;
}